@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff6d;
    border-radius: 10px;
    width: 1px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 10px;
  }

  ::selection {
    background: rgb(215, 215, 215);
  }